In [4]:
#!/usr/bin/env python
# coding: utf-8

# In[3]:


import pandas as pd
from pykrx import stock
from pykrx import bond
from time import sleep

from datetime import datetime
import os
import time

import glob


# In[7]:


now = datetime.now()
today_date1 = now.strftime('%Y%m%d')
today_date2 = now.strftime('%Y-%m-%d')
ticker_nm = '005930'

file_dir = '/home/kbch88/streamlit_stock/data_crawler'

In [18]:
# In[8]:


glob.glob(f'{file_dir}/*{today_date1}.csv')

['/home/kbch88/streamlit_stock/data_crawler/kor_market_cap_20230713.csv',
 '/home/kbch88/streamlit_stock/data_crawler/kor_stock_fundamental_20230713.csv',
 '/home/kbch88/streamlit_stock/data_crawler/kor_stock_ohlcv_20230713.csv']

In [19]:
kor_ticker_list = pd.read_csv(f'{file_dir}/kor_ticker_list.csv')

In [20]:
kor_ticker_list.head()

   ticker corp_name market
0  095570    AJ네트웍스  KOSPI
1  006840     AK홀딩스  KOSPI
2  027410       BGF  KOSPI
3  282330    BGF리테일  KOSPI
4  138930   BNK금융지주  KOSPI

In [21]:
file_list = glob.glob(f'{file_dir}/*{today_date1}.csv')


# In[45]:


df = pd.read_csv(file_list[2])

In [22]:
df.head(2)

   ticker    시가    고가    저가    종가     거래량        거래대금  등락률
0  060310  2815  2890  2765  2810  792065  2249394405  0.9
1  095570  4350  4350  4300  4310   44623   192557645  0.0

In [23]:
df2 = pd.merge(df, kor_ticker_list,
              how = 'left',
              on = 'ticker')

In [24]:
df2

,ticker,시가,고가,저가,종가,거래량,거래대금,등락률,corp_name,market
0,060310,2815,2890,2765,2810,792065,2249394405,0.90,3S,KOSDAQ
1,095570,4350,4350,4300,4310,44623,192557645,0.00,AJ네트웍스,KOSPI
2,006840,20100,20100,19510,19980,10685,211567270,0.20,AK홀딩스,KOSPI
3,054620,8970,9180,8960,9030,73965,666589770,0.33,APS,KOSDAQ
4,265520,20400,20550,20150,20450,42063,855622300,0.49,AP시스템,KOSDAQ
...,...,...,...,...,...,...,...,...,...,...
2729,000547,5190,5190,3800,3800,99847,409057325,-45.01,흥국화재2우B,KOSPI
2730,000545,5450,5450,5360,5360,1564,8486660,-1.29,흥국화재우,KOSPI
2731,003280,2760,3090,2680,2795,22885514,65406415845,0.18,흥아해운,KOSPI
2732,037440,8090,8090,8000,8010,106909,857786330,0.00,희림,KOSDAQ
2733,238490,7120,7280,7120,7240,33090,238874340,1.69,힘스,KOSDAQ

In [25]:

print('최대 최소 시작')
max_value_1 = df2[df2['market'] == 'KOSPI'].sort_values(by ='등락률', ascending = False).head(3)
max_value_2 = df2[df2['market'] == 'KOSDAQ'].sort_values(by ='등락률', ascending = False).head(3)
min_value_1 = df2[df2['market'] == 'KOSPI'].sort_values(by ='등락률', ascending = True).head(3)
min_value_2 = df2[df2['market'] == 'KOSDAQ'].sort_values(by ='등락률', ascending = True).head(3)

최대 최소 시작

In [26]:
min_max_stock = pd.concat([max_value_1,
          max_value_2,
          min_value_1,
          min_value_2])

# In[79]:
min_max_stock

,ticker,시가,고가,저가,종가,거래량,거래대금,등락률,corp_name,market
2556,042700,32650,41200,32300,41200,20838329,798183526650,29.97,한미반도체,KOSPI
1932,000230,8600,11000,8600,9900,1356739,13946041280,15.65,일동홀딩스,KOSPI
1342,002310,38400,41450,37550,40100,550016,21576111500,13.92,아세아제지,KOSPI
2276,323280,2745,3445,2740,3445,39547483,130625193345,30.00,태성,KOSDAQ
1408,096610,14260,18530,13860,18530,1623524,27167694300,29.94,알에프세미,KOSDAQ
965,083650,8640,11160,8590,11160,8074853,81183268520,29.92,비에이치아이,KOSDAQ
1026,010145,20000,22900,16800,16800,68565,1261923040,-47.50,삼성중공우,KOSPI
2729,000547,5190,5190,3800,3800,99847,409057325,-45.01,흥국화재2우B,KOSPI
244,001745,8520,8520,6700,6700,51253,376969010,-44.86,SK네트웍스우,KOSPI
2036,078650,1300,1300,702,775,2640794,2250480364,-22.73,지나인제약,KOSDAQ
1658,173130,13000,13000,10280,11340,2573318,28724153100,-12.36,오파스넷,KOSDAQ
1643,010470,12790,12790,10600,11110,452031,5079056500,-12.10,오리콤,KOSDAQ

In [ ]:
min_max_stock.to_csv(f'{file_dir}/min_max_{today_date1}.csv', index = False)